@using InterfazHubSpot.Entities
@model ParamPrcActivation

@{
    ViewBag.Title = "Renovación de Contraseña";
}

@section Scripts {
    @Scripts.Render("~/bundles/PrcOlvidoPassword")
}

<h3>Renovación de Contraseña</h3>
<br />

<div id="PrcActivation">

    <input id="hiddenUsuario" type="hidden" name="hiddenUsuario" value="@Model.Usuario">
    <input id="hiddenEmail" type="hidden" name="hiddenEmail" value="@Model.Email">

    <div class="form-group row">
        <div class="col-md-4">
            <label>Usuario</label>
            <div class="form-group-field">
                <input id="Usuario" type="text" class="k-textbox" data-bind="value: Parametros.Usuario" readonly="readonly" />
            </div>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-md-4">
            <label>Email</label>
            <div class="form-group-field">
                <input id="Email" type="text" class="k-textbox" data-bind="value: Parametros.Email"  readonly="readonly" />
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <label>Contraseña Nueva *</label>
            <div class="form-group-field">
                <input id="Password" type="password" class="k-textbox" data-bind="value: Parametros.Password" maxlength="20" style="max-width:180px" />
                <img id="errPassword" src="~/Content/Images/error.png" style="display:none" />
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <label>Confirmación de Comtraseña *</label>
            <div class="form-group-field">
                <input id="Confirm" type="password" class="k-textbox" data-bind="value: Parametros.Confirm" maxlength="20" style="max-width:180px" />
                <img id="errConfirm" src="~/Content/Images/error.png" style="display:none" />
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-10">
            <button id="butAceptar" class="k-primary" type="button" data-role="button" data-bind="disabled: isControlDisabled" style="margin-right:15px;margin-bottom:10px;">Aceptar</button>
        </div>
    </div>

</div>


