
<div id="busFiltros" class="modal fade modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="modalFAButtonsLabel">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Filtros</h4>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Campo</label>
                        <div class="form-group-field">
                            <select id="BusFiltrosCampo" style="max-width:330px"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>&nbsp;</label>
                        <div class="form-group-field">
                            <button id="butMarcarTodoBusFiltros" class="k-button" type="button" data-role="button" style="margin-right:10px;">Marcar Todo</button>
                            <button id="butInvertirMarcasBusFiltros" class="k-button" type="button" data-role="button" style="margin-right:10px;">Invertir Marcas</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="gridFiltros" style="height:360px;margin-top:3px;"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="butFiltrosAceptar" type="button" class="k-button btn btn-default" data-faicon="fa-check">Aceptar</button>
            </div>
        </div>

    </div>
</div>
