
<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
     role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-time">
                    </span>&nbsp;&nbsp;Por Favor, Espere...
                </h4>
            </div>
            <div class="modal-body" style="text-align:center">
                <img src="~/Content/Images/loading.gif"  width="62" height="62" />
            </div>
        </div>
    </div>
</div>

