
<div id="cargarLayout" class="modal fade modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="modalFAButtonsLabel">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cargar Diseño</h4>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <div class="col-md-12">
                        <label>Descripción</label>
                        <div class="form-group-field">
                            <select id="LoadLayoutDescripcion"></select>
                            <img id="errLoadLayoutDescripcion" src="/Content/Images/error.png" style="display:none" />
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label>Cargar por Defecto</label>
                        <div class="form-group-field">
                            <input id="LoadLayoutEsDefault" type="checkbox" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="butLoadLayoutAceptar" type="button" class="k-button btn btn-default" data-faicon="fa-check">Aceptar</button>
            </div>
        </div>

    </div>
</div>


<div id="grabarLayout" class="modal fade modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="modalFAButtonsLabel">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Grabar Diseño</h4>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <div class="col-md-12">
                        <label>Descripción</label>
                        <div class="form-group-field">
                            <input id="SaveLayoutDescripcion" type="text" class="k-textbox" maxlength="100" autocomplete="off" spellcheck="false" />
                            <img id="errSaveLayoutDescripcion" src="/Content/Images/error.png" style="display:none" />
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label>Cargar por Defecto</label>
                        <div class="form-group-field">
                            <input id="SaveLayoutEsDefault" type="checkbox" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="butSaveLayoutAceptar" type="button" class="k-button btn btn-default" data-faicon="fa-check">Aceptar</button>
            </div>
        </div>

    </div>
</div>


<div id="eliminarLayout" class="modal fade modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="modalFAButtonsLabel">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar Diseños</h4>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <div class="col-md-12">
                        <span>Seleccione los diseños a eliminar.</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="gridDeleteLayout" style="height:360px;margin-top:3px;"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="butDeleteLayoutAceptar" type="button" class="k-button btn btn-default" data-faicon="fa fa-trash-o">Eliminar</button>
            </div>
        </div>

    </div>
</div>


