@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    var currentMSContext = InterfazHubSpot.Core.Util.GetMSContext();

    var currentIniciales = currentMSContext.Iniciales;
 
    <div id="normalheader">

        <div class="leftheader">

            <div id="abrirmenu" class="flatbutton" title="Abrir Menu" style="display: inline-block;">
                <i class="fa fa-align-justify fa-lg" aria-hidden="true"></i>
            </div>

            <div class="divLogo" style="margin-left: 5px;display: inline-block;">
                <a id="linkLogo" href="#"><img src="~/Content/Images/LogoNumbitNube.png" alt="logo" style="width: 46px;height: 46px;" /></a>
            </div>

        </div>

        <div class="middleheader">

            <div class="divheadersearch">
                <input id="headersearch" style="width: 100%;margin-bottom: 0px;" />
            </div>

        </div>

        <div class="rightheader">

            <div id="viewsesioninfo" class="flatbutton" title="Datos de la sesión" style="float: right;margin-right: 10px;">
                <span id="viewsesioninfocirculo" class="circulo">@currentIniciales</span>
            </div>

            <div id="viewconfiginfo" class="flatbutton" title="Configuración" style="float: right;">
                <i class="fas fa-cog fa-lg" aria-hidden="true" style="vertical-align: middle;"></i>
            </div>

        </div>

    </div>

    <div id="mobileheader">

        <div class="mobileleftheader">

            <div id="mobileabrirmenu" class="flatbutton" title="Abrir Menu" style="display: inline-block;">
                <i class="fa fa-align-justify fa-lg" aria-hidden="true"></i>
            </div>

        </div>

        <div class="mobilerightheader">

            <div id="mobileviewsesioninfo" class="flatbutton" title="Datos de la sesión" style="float: right;margin-right: 10px;">
                <span id="mobileviewsesioninfocirculo" class="circulo">@currentIniciales</span>
            </div>

            <div id="mobileviewconfiginfo" class="flatbutton" title="Configuración" style="float: right;">
                <i class="fas fa-cog fa-lg" aria-hidden="true" style="vertical-align: middle;"></i>
            </div>

            <div id="mobileviewtoolbar" class="flatbutton" title="Favoritos" style="float: right;">
                <i class="fa fa-star fa-lg" aria-hidden="true" style="vertical-align: middle;"></i>
            </div>

            <div id="mobilegohome" class="flatbutton" title="Ir al Inicio" style="float: right;">
                <i class="fa fa-home fa-lg" aria-hidden="true" style="vertical-align: middle;"></i>
            </div>

            <div id="mobilegosearch" class="flatbutton" title="Buscar" style="float: right;">
                <i class="fas fa-search fa-lg" aria-hidden="true" style="vertical-align: middle;"></i>
            </div>

        </div>

    </div>

    <div id="mobilesearch" style="display: none;">

        <div class="divheadermobilesearch" style="position: relative;float: left;width:80%">
            <input id="headermobilesearch" style="margin-bottom: 0px;width:100%" />
        </div>

        <div id="cerrarmobilesearch" class="flatbutton" title="Cerrar busqueda" style="position: relative;float: right">
            <i class="fas fa-times fa-lg" aria-hidden="true" style="vertical-align: middle;"></i>
        </div>

    </div>
}
else
{
    <div id="normalheader">

        <div class="leftheader">

            <div class="divLogo" style="margin-left: 55px;display: inline-block;">
                <a href="~/"><img src="~/Content/Images/LogoNumbitNube.png" alt="logo" style="width: 46px;height: 46px;" /></a>
            </div>

        </div>

        <div class="middleheader">


        </div>

        <div class="sesionrightheader">

            <div style="width:100%;text-align:right">
                @Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "headerLinks" })
            </div>

        </div>

    </div>

    
    <div id="mobileheader">

        <div class="mobileleftheader">
        
            <div class="divLogo" style="margin-left: 10px;display: inline-block;">
                <a href="~/"><img src="~/Content/Images/LogoNumbitNube.png" alt="logo" style="width: 46px;height: 46px;" /></a>
            </div>

        </div>

        <div class="mobilerightheader" style="margin-top:10px">
            
            <div style="width:100%;text-align:right">
                @Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "headerLinks" })
            </div>

        </div>

    </div>


}


