@using InterfazHubSpot.Models
@model MensajeModel

@{
    ViewBag.Title = "Mensaje";
}

<br />
<br />

<div class="row">

    <div class="col-md-4">
    </div>
    
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <label><b>@Model.Titulo</b></label>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <label>@Model.Linea1</label>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-12">
                        <label>@Model.Linea2</label>
                    </div>
                </div>

                <br />

                <a href="~/" style="color:blue">Ir a la Pagina de Inicio</a>

                <br />

            </div>

        </div>

    </div>

</div>

