
h3, .h3 {
    font-size: 18px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 5px;
    margin-bottom: 9.5px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
    text-rendering: optimizelegibility;
}

.h7, h7 {
    font-size: 10px;
    display: block;
    margin-top: 0px;
}

.h8, h8 {
    font-size: 8px;
    display: block;
}

hr {
    height: 1px;
    color: black;
    background-color: black;
    border: none;
}

.page-header.navbar .page-logo .logo-default {
    margin: 10px 10px 0;
}

.page-header.navbar .page-top {
    height: 74px;
    float: right;
}

.logo-default {
    width: 72px;
    height: 42px;
}

.headerLinks {
    color: white !important;
    padding-right: 20px !important;
    background-color: transparent !important;
}

.headerLinks > a, a:hover, a:focus {
    font-weight: bold;
}

.normalHeader {
    font-weight: normal;
    padding-right: 20px; 
    color: white;
}

.nav > li > a:focus, .nav > li > a:hover {
    font-weight: bold;
    color: white;
    background: #0078d4;
}

.nav > li > a {
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
}

.form-horizontal {
    border: 2px solid black;
}

.modal-lg {
  width: 900px !important;
}

.panel-heading {
  padding: 0px 15px;
}

.panel-heading-normal {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 5px 15px;
}

.panel-heading > label {
    /*color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;*/
    padding-top: 4px;
}
/* 
.page-header.navbar {
    background: #0078d4;
}

.page-header.navbar .page-top {
    background: #0078d4;
} */

.page-content-wrapper .page-content {
    padding: 0px 0px 0px 20px;
}

.page-sidebar.navbar-collapse {
    min-height: 480px;
}

.text-bold {
    font-weight: bold;
}

.k-autocomplete, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker, .k-dropdown, .k-dropdowntree, .k-listbox, .k-multiselect, .k-numerictextbox, .k-selectbox, .k-textbox, .k-timepicker, .k-toolbar .k-split-button {
    width: 100%;
}

.k-button.k-button-icon > a, a:hover, a:focus {
    font-weight: bold;
    color: black;
}

input.k-textbox, textarea.k-textbox {
    padding: 0px;
    margin-bottom:6px;
    margin-left:0px;
    margin-right:3px;
    margin-top:0px;
    height: 30px;
    width: calc(100% - 30px);
}

span.k-widget.k-autocomplete.k-state-default {
    padding: 0px;
    margin-bottom:6px;
    margin-left:0px;
    margin-right:3px;
    margin-top:0px;
    height: 33px;
    width: calc(100% - 30px); 
}


span.k-widget.k-datepicker {
    padding: 0px;
    margin-bottom:6px;
    margin-left:0px;
    margin-right:3px;
    margin-top:0px;
    height: 30px;
}

span.k-widget.k-datetimepicker {
    padding: 0px;
    margin-bottom:6px;
    margin-left:0px;
    margin-right:3px;
    margin-top:0px;
    height: 30px;
}

span.k-widget.k-numerictextbox {
    padding: 0px;
    margin-bottom:6px;
    margin-left:0px;
    margin-right:3px;
    margin-top:0px;
    height: 30px;
    width: calc(100% - 30px);
}

td > span.k-widget.k-numerictextbox {
    margin-right: 3px;
    margin-bottom: 6px;
    width: 100%;
}

span.k-widget.k-dropdown {
    padding: 0px;
    margin-left: 0px;
    margin-top: 3px;
    margin-bottom: 12px;
    margin-right: 3px;
    height: 24px;
    width: calc(100% - 30px);
}

td > span.k-widget.k-dropdown {
    margin-right: 3px;
    margin-bottom: 6px;
    width: 100%;
}

span.k-widget.k-maskedtextbox {
    padding: 0px;
    margin-bottom: 6px;
    margin-left: 0px;
    margin-right: 3px;
    margin-top: 0px;
    height: 28px;
    width: calc(100% - 30px);
}

td > span.k-widget.k-maskedtextbox {
    margin-right: 3px;
    margin-bottom: 6px;
    height: 28px;
    width: 100%;
}

td > span.k-widget.k-combobox.k-header.k-combobox-clearable {
    margin-right: 3px;
    margin-bottom: 6px;
    width: 100%;
}

span.k-widget.k-combobox.k-header.k-combobox-clearable {
    margin-right: 3px;
    margin-bottom: 6px;
    width: calc(100% - 30px);
}

td > span.k-widget.k-combobox {
    margin-right: 3px;
    margin-bottom: 6px;
    width: 100%;
}

span.k-widget.k-combobox {
    margin-right: 3px;
    margin-bottom: 6px;
    width: calc(100% - 30px);
}

div.k-widget.k-multiselect {
    padding: 0px;
    margin-bottom: 6px;
    margin-left: 0px;
    margin-right: 3px;
    margin-top: 0px;
    display: inline-block;
    width: calc(100% - 30px);
}

/* input.k-input {
    height:26px;
} */

span.k-widget.k-autocomplete.k-autocomplete-clearable.k-state-default {
    height:28px;
}


#searchopc {
    margin-left: 10px;
    margin-right: 0px;
    width: calc(100% - 20px);
}

.bootstrap-dialog.type-primary .modal-header {
    background-color: #0078d4;
}


.bootstrap-dialog.type-warning .modal-header {
    background-color: #0078d4;
}

label {
    padding-top:7px;
    margin-bottom: 2px;
}

a.k-button.k-button-icontext.k-grid-downloadButton {
    background: url('Images/arrow_down.gif') center center;
    background-repeat: no-repeat;
    height: 27px;
    width: 30px;
}

a.k-button.k-button-icontext.k-grid-downloadButton:hover {
    color: #fff;
    border-color: #8ebc00;
    background-color: #8ebc00;
}

a.k-button.k-button-icontext.k-grid-deleteButton {
    background: url('Images/trash-o.png') center center;
    background-repeat: no-repeat;
    height: 27px;
    width: 30px;
}

a.k-button.k-button-icontext.k-grid-deleteButton:hover {
    color: #fff;
    border-color: #0078d4;
    background-color: #0078d4;
}


a.k-button.k-button-icontext.k-grid-gridLupaButton {
    background: url('Images/Lupa.png') center center;
    background-repeat: no-repeat;
    height: 27px;
    width: 30px;
}

a.k-button.k-button-icontext.k-grid-gridLupaButton:hover {
    color: #fff;
    border-color: #0078d4;
    background-color: #0078d4;
}

a.k-button.k-button-icontext.k-grid-searchButton {
    background: url('Images/Find.png') center center;
    background-repeat: no-repeat;
    height: 27px;
    width: 30px;
}

a.k-button.k-button-icontext.k-grid-searchButton:hover {
    color: #fff;
    border-color: #0078d4;
    background-color: #0078d4;
}

a.k-button.k-button-icontext.searchButton {
    background: url('Images/Find.png') center center;
    background-repeat: no-repeat;
    height: 27px;
    width: 30px;
}

a.k-button.k-button-icontext.searchButton:hover {
    color: #fff;
    border-color: #0078d4;
    background-color: #0078d4;
}

button.k-button.k-button-icontext.k-grid-lupaButton {
    background: url('Images/Lupa.png') center center;
    background-repeat: no-repeat;
    height: 27px;
    width: 30px;
    min-width: 30px;
}

button.k-button.k-button-icontext.k-grid-lupaButton:hover {
    color: #fff;
    border-color: #8ebc00;
    background-color: #8ebc00;
}


span.k-delete {
	background: url('Images/delete.png') center center;
}

span.k-find {
    background: url('Images/Find.png') center center;
}

span.k-edit {
    background: url('Images/pencil.png') center center;
}


.k-grid tbody .k-button {
    min-width: 40px;
    width: 40px;
}

.ms-marginTop {
    margin-top: 20px;
}

.ms-marginTopLeft {
    margin-top: 20px;
    margin-left: 3px;
}

.ms-redlabel {
    color:red;
}

.ms-redlabel2 {
    color:red;
    font-size:large;
    font-weight:bold;
}

.top5 { 
    margin-top:5px; 
}

.k-tooltip {
    background: lightyellow !important;
    border-color: #f9ee6e !important;
    color: black !important;
}

.k-callout-n {
    border-bottom-color: #f9ee6e;
}

.k-callout-w {
    border-right-color: #f9ee6e;
}

.k-callout-s {
    border-top-color: #f9ee6e;
}

.k-callout-e {
    border-left-color: #f9ee6e;
}

hlptooltip{
   background-color: #d9ecf5;
   border-color: #d9ecf5;
   color: #00435e; 
}


.fa.k-sprite,
.fa.k-sprite::before {
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
    height: 16px;
}

.navbar {
    background-color:#0078d4;
}

.nav > li > a > i {
    margin-right: 5px;
}

.headerStyle {
    float:none;
    display:inline-block;
    margin-left:100px;
}

.form-group {
    margin-bottom: 0px;
}

.k-virtual-scrollable-wrap td
{
    white-space: nowrap;
}

.form-group-field {
    display: block;
}


span.k-switch.km-switch.k-widget.km-widget.k-switch-off.km-switch-off {
    background-color: #fafafa;
    border-color: #fafafa;
}

span.k-switch.km-switch.k-widget.km-widget.k-switch-on.km-switch-on {
    background-color: #fafafa;
    border-color: #fafafa;
}

.km-switch-container, .km-switch-wrapper {
    border-color: #0078d4;
    border-top-color: #0078d4;
    border-right-color: #0078d4;
    border-bottom-color: #0078d4;
    border-left-color: #0078d4;
}

.km-switch-background, .km-switch-handle {
    color: #0078d4;
}

.k-primary.k-state-disabled, .k-primary.k-state-disabled:active, .k-primary.k-state-disabled:hover, .k-state-disabled .k-primary, .k-state-disabled .k-primary:active, .k-state-disabled .k-primary:hover {
    border-color: #0078d4;
    background-color: #0078d4;
}

.k-clear-selected,
.k-upload-selected {
    display: none !important;
}

.displayInline {
    display: inline;
}

.displayBlock {
    display: block;
}

@media only screen and (max-width: 768px) {
    .displayInline {
        display: none;
    }

    .displayBlock {
        display: none;
    }
}

.validation-summary-errors {
    color: red;
}

.k-grid td{
  white-space: nowrap;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkgray; 
  }

#homepage-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

#homepage-image > span {
    display: block;
    background-image: url(Images/ImagenBienvenida.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 290px;
    height: 220px;
}

#homepage-image > h1 {
    text-align: center;
    color: #24285b;
    font-size: 3em;
}

#homepage-image p {
    font-size: 1.2em;
    font-weight: 600;
    color: #24285b;
}

#homepage-image p + div {
    margin-top: 2em;
}

#homepage-image #loginLink {
    background-color: #3768ff !important;
    padding: .7em 2em !important;
    border-radius: .5em;
    font-weight: 600;
}

#homepage-image #loginLink:hover {
    background-color: #5596ff !important;
}

#tilescontainer,
#dashboard {
    margin-top: 2em;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
}

#butOcultarMostrar {
    display: block;
    margin-left: auto;
}

.historyButton:hover {
    cursor: pointer;
}

.k-dialog {
    border: none;
}

hr {
    background-color: #dfdfdf;
}

.km-switch-label-off, .km-switch-label-on {
    color: #fff;
}

.k-sprite {
    height: 12px;
}

textarea {
    border-color: #ececec;
    background-color: #fafafa;
    border-color: #f0f0f0;
    resize: none;
}

textarea:focus {
    background-color: #fff;
    background-image: none;
    background-position: 50% 50%;
    border-color: #f1f1f1;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%), 0 2px 3px rgb(0 0 0 / 5%);
}

.login-container {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.login-panel {
    background: none;
    border: 0;
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (min-width: 768px) {
    #homepage-image > span {
        width: 600px;
        height: 370px;
    }
}

#gridPreview  .k-grid-content  td
{
  height: 24px;
}

.PivotConfig {
    position:relative; 
    float:left
}

.PivotContainer {
    overflow-x:auto;
    white-space: nowrap;
    width:calc(100% - 410px);
    position:relative; 
    float:left;
    margin-left:8px;
}

.PivotContainerFull {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    position: relative; 
    float: left;
    margin-left: 0px;
}

.k-pivot-table .k-grid-content td {
    text-align: right;
}

