body {
    background: white;
}

/*span.k-in {
    color:white;
}*/

span.k-in:hover {
    color:black;
}

span.k-state-focused.k-in.k-state-hover {
    color:black;
}

span.k-state-focused.k-in {
    color:black;
}

