

.km-switch-container, .km-switch-wrapper {
    border-color: rgb(43, 140, 190);
    border-top-color: rgb(43, 140, 190);
    border-right-color: rgb(43, 140, 190);
    border-bottom-color: rgb(43, 140, 190);
    border-left-color: rgb(43, 140, 190);
}

.km-switch-background, .km-switch-handle {
    color: rgb(43, 140, 190);
}

