body {
    background: #fafafa;
    color: black;
    background-size: cover;
    height: calc(100vh - 3px);
    display: flex;
    flex-direction: column;
    background-image: url('Images/Fondos/Fondo.svg');
    background-position: bottom;
    background-attachment: fixed;
    background-size: auto;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0px 0px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    min-height: 46px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    HEADER STYLE
----------------------------------------------------- */

.leftheader {
    float: left;
    width: 150px;
}

.middleheader {
    width: auto;
    min-width: 420px;
    display: inline-block;
}

.rightheader {
    float: right;
    width: 145px;
    display: flex;
    flex-direction: row-reverse;
}

.sesionrightheader {
    float: right;
    width: 200px;
    margin-top: 10px;
}

.mobileleftheader {
    float: left;
    width: 40px;
}

.mobilerightheader {
    float: right;
    width: 280px;
}

.headernotifydropdown {
    display: none;
    position: fixed;
    right: 0px;
    top: 46px;
    border-style: groove;
    width: 320px;
    z-index: 1000;
    background-color: #faf9f8;
}

.headerconfigdropdown {
    display: none;
    position: fixed;
    right: 0px;
    top: 46px;
    border-style: groove;
    width: 360px;
    height: 545px;
    z-index: 1000;
    background-color: #faf9f8;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    border: none;
}

.headerconfigdropdown h3 {
    margin-top: 5px !important;
    margin-bottom: 0 !important;
    font-size: 1.5em;
}

.headersesiondropdown {
    display: none;
    position: fixed;
    right: 0px;
    top: 46px;
    border-style: groove;
    width: 400px;
    z-index: 1000;
    background-color: #faf9f8;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    border: none;
}

.headerconfigdropdown span.k-widget.k-dropdown {
    width: calc(100% - 10px);
}

.userinfo {
    margin-top: 15px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    width: 370px;
}

.userinfo a:hover {
    color: #0078d4 !important;
}

.userfooter {
    margin-top: 15px;
    padding-bottom: 15px;
    width: 370px;
}

.userfooter span {
    text-indent: -9999px;
    display: block;
    background-image: url(../Content/Images/Logo.png);
    background-size: cover;
    width: 130px;
    height: 40px;
}

@media only screen and (max-width: 768px) {

    .headersesiondropdown {
        width: 320px;
    }

    .userinfo {
        width: 290px;
    }

    .userfooter {
        width: 290px;
    }
}

.headermobiletoolbardropdown {
    display: none;
    position: fixed;
    right: 0px;
    top: 46px;
    border-style: groove;
    width: 320px;
    max-height: 590px;
    overflow: auto;
    z-index: 1000;
    background-color: #faf9f8;
    width: 100%;
    border: none;
    box-shadow: 0 8px 32px 0 rgb(29 29 29 / 37%);
    backdrop-filter: blur( 20px );
}

.headermobiletoolbardropdown > div {
    display: flex;
    justify-content: space-between;
}

.divheadersearch {
    display: inline-block;
    margin-top: 8px;
    width: 400px;
}

.divheadermobilesearch {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    width: 305px;
}

.searchpath {
    color: black;
    margin-left: 27px;
}

#normalheader {
    display: block;
    height: 46px;
    /*box-shadow: 7px 7px 7px #808080;*/
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
}

#mobileheader {
    display: none;
}

#mobilesearch {
    display: none;
}

@media only screen and (max-width: 716px) {

    #normalheader {
        display: none;
    }

    #mobileheader {
        display: block;
    }

    #mobilesearch {
        display: none;
    }
}

.circulo {
    margin-top: 7px;
    margin-left: 7px;
    display: block;
    height: 32px;
    width: 32px;
    line-height: 28px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background-color: transparent;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    text-align: center;
}

.circulosesion {
    display: block;
    height: 64px;
    width: 64px;
    line-height: 56px;
    font-size: 24px;
    font-weight: bold;
    -moz-border-radius: 32px;
    border-radius: 32px;
    background-color: #005494;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    margin-bottom: 10px;
}

/* ---------------------------------------------------
    CONFIG STYLE
----------------------------------------------------- */

.temalistview {
    width: 310px;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
    margin: 10px auto 0;
}

.product {
    cursor: pointer;
    display: inline-block;
}

    .product.k-state-selected {
        background-color: transparent;
        border: 2px solid black;
    }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 320px;
    position: fixed;
    top: 46px;
    left: -320px;
    height: 100vh;
    z-index: 999;
    /* background: #6d7fcc; */
    background: #f3f2f1;
    /* color: #fff; */
    color: black;
    transition: all 0.3s;
    overflow-y: hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#sidebarCollapse {
    margin-left: 100px;
}

#menutreeview {
    color: black;
    font-size: 18px;
}

#menutreeview .k-sprite {
    width: 21px;
    height: 18px
}

#menutreeview .fa.k-sprite::before {
    font-size: 18px;
    line-height: 18px;
}

#expandnodes {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    /* background: #7386D5; */
    background: darkgray;
    color: white;
    position: absolute;
    top: 10px;
    right: 85px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 30px;
}

#expandnodes:hover {
    background: #fff;
    color: black;
}

#colapsenodes {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: darkgray;
    color: white;
    position: absolute;
    top: 10px;
    right: 45px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 30px;
}

#colapsenodes:hover {
    background: #fff;
    color: black;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: darkgray;
    color: white;
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 30px;
}

#dismiss:hover {
    background: #fff;
    color: black;
}

.flatbutton {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: transparent;
    color: white;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.flathome {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: transparent;
    color: black;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin: 8px auto;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar .sidebar-header {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 34px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}


@media only screen and (max-width: 768px) {

    #content {
        width: 100%;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 74px;
        min-height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
    }
}

/* ---------------------------------------------------
    USER STATUS
----------------------------------------------------- */

.userStatusDropdown {
    text-align: right;
    margin-right: 25px;
}

.userStatusButton {
    margin-top: 4px;
}

.userStatusDropdownMenu {
    right: 0;
    left: auto;
}

.userStatusLine {
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    color: #333;
}

/* ---------------------------------------------------
    TILES
----------------------------------------------------- */

.tiles-container {
    text-align: center;
}

.tilesTitle {
    margin-left: 0;
    font-size: 2em;
    text-align: center;
}

.tileBlock {
    /*max-width: 160px;*/
    max-width: 180px;
    display: inline-flex;
    margin-bottom: 45px;
}

.tileElem {
    display: block;
}

.tileButton {
    /*width: 160px;*/
    width: 140px;
    /*padding-left: 35px;*/
}

.tileLink {
    /*width: 160px;*/
    width: 130px;
    margin-top: 5px;
    text-align: center;
    word-wrap: normal;
    font-size: 1.3em;
    font-weight: 600;
    word-break: break-word;
    overflow: hidden;
    width: 120px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 130px;
}

/* ---------------------------------------------------
    TOOLBAR STYLE
----------------------------------------------------- */

#toolbar {
    position: fixed;
    width: 66px;
    top: 46px;
    left: 0px;
    height: 100vh;
    background: transparent;
    overflow-y: hidden;
    display: inline-block;
    overflow: hidden;
    height: 100vh !important;
    /*box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    background-color: #fff!important;*/
}

#toolbar i {
    font-size: 2em;
}

#exectoolbar {
    position: fixed;
    width: 46px;
    top: 48px;
    left: 0px;
    height: 100vh;
    background: transparent;
    overflow-y: hidden;
    display: inline-block;
    overflow: hidden;
}

.toolbutton {
    width: 36px;
    height: 30px;
    margin-top: 4px;
    margin-left: 5px;
    padding: 0px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    background: transparent;
    cursor: pointer;
    margin: 20px auto 20px auto;
}

#sortable {
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    list-style: none;
}

@media only screen and (max-width: 768px) {

    #toolbar {
        display: none;
    }
}

/* ---------------------------------------------------
    CONTEXT MENU STYLE
----------------------------------------------------- */

.contextflatbutton {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    vertical-align: bottom;
    background: transparent;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.dropbtn {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background: lightgrey;
    border-style: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.dropdowntile {
    float: right;
    margin-top: 32px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
}

.dropdown span:hover {
    background-color: gray;
}

.show {
    display: block;
}

.menuitem {
    display: block;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

/* ---------------------------------------------------
    Notification Style
----------------------------------------------------- */

.temaNotific {
    width: 310px;
    max-height: 460px;
    overflow: auto;
    background-color: white;
    margin-left: auto;
}

.notificMessage {
    display: inline-block;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 280px;
    min-height: 48px;
    border: 1px solid lightgrey;
    border-radius: 12px;
}

.headerNotif {
    border-radius: 12px 12px 0px 0px;
    background-color: lightgray;
}

.dateNotif {
    margin-left: 5px;
}

.notifBody {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #dfdcdb;
    border-radius: 0px 0px 12px 12px;
}

.notifBody p {
    color: black;
}

.notifBody a {
    color: blue;
}

.notification {
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.badge {
    position: absolute;
    top: 4px;
    right: -1px;
    border-radius: 50%;
    background-color: yellow;
    color: black;
}

/* ---------------------------------------------------
    PRESENTACION STYLE
----------------------------------------------------- */


#myCarousel {
    display: block;
}

@media only screen and (max-width: 768px) {

    #myCarousel {
        display: none;
    }
}

#homepage .tileButton button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 128px;
    height: 110px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 138px !important;
    height: 138px !important;
}

/*#homepage .tileButton button:hover {
    background: rgb(0 212 141);
}*/

.dropdowntile {
    margin-top: -28px;
    /*margin-right: 8px;*/
    margin-right: -32px;
}

.tilesTitle + br + div > div {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /*justify-content: center;
    flex-direction: column;*/
    flex-direction: row;
    justify-content: space-around;
}

#configaceptar {
    width: 95%;
}

.userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0;
    padding: 20px 10px;
    font-weight: bold;
}

.userinfo a {
    color: #002038 !important;
}

.userinfo:first-of-type {
    background-color: #0078d4;
    color: #fff;
    padding: 20px 10px;
}

.userinfo:nth-of-type(2) {
    padding-top: 0;
}

.user-background {
    display: block;
    width: 290px;
    height: 100px;
    /*background-image: url("../Content/Images/FondoInfoUser.png");*/
    background-repeat: no-repeat;
    background-position: bottom;
    /*margin-top: -30px;*/
    margin-top: -10px;
    background-image: url(../Content/Images/FondoInfoUser.svg);
    background-size: cover;
}

.userinfo i {
    align-self: flex-end;
    margin: 0 !important;
}

#sesioninfo div:first-of-type {
    margin: 0;
}

.headersesiondropdown {
    width: 290px;
}

.userfooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.userfooter div:first-of-type {
    margin-bottom: 0;
}

.userfooter a {
    background-image: url(../Content/Images/Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -99999999px;
    height: 40px;
    display: block;
}

#Abm {
    background: rgb(255 255 255 / 52%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 14px 24px;
    margin-top:30px;
}

.tab-content {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 24px;
}

#Abm > .tab-content {
    background: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding: 0;
    box-shadow: none;
    backdrop-filter: none;
}

#PrcLogin .tab-content,
#PrcLogin #Abm {
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    border: none;
    padding: 0;
}

.tileButton > button > span > i {
    font-size: 3em;
}

#butLogin {
    margin-right: 30px;
}

button > span {
    padding-top: 3px;
}

/*.link-tile-color {
    color: #000 !important;
}*/

#menutreeview {
    font-size: 16px;
}

.tooltip-home {
    display: none;
}

@media only screen and (min-width: 768px) {
    .tiles-container {
        text-align: left;
    }

    .tilesTitle {
        margin-top: 40px;
        margin-left: 40px;
        text-align: left;
    }

    .tileButton {
        width: 180px;
    }

    .tilesTitle + br + div > div {
        padding-left: 4em;
        flex-direction: row;
        justify-content: flex-start;
    }

    .user-background {
        width: 370px;
    }

    .headersesiondropdown {
        width: 370px;
    }

    #sidebar {
        width: 450px;
        left: -460px;
    }

    #menutreeview {
        font-size: 18px;
    }

    .tileElem {
        width: 100%;
        max-width: 1200px;
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }

    .tileButton {
        position: relative;
        padding: 20px;
    }

    .has-tooltip:hover + .tooltip-home,
    .has-tooltip:focus + .tooltip-home,
    .has-tooltip.hover + .tooltip-home {
        opacity: 1;
        transform: translate(-50%, -100%) scale(1) rotate(0deg);
        pointer-events: inherit;
        box-shadow: 1px 1px 20px rgb(38 38 38 / 60%);
    }

    .tooltip-home {
        display: block;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.75) rotate(5deg);
        transform-origin: bottom center;
        padding: 10px 30px;
        border-radius: 5px;
        text-align: center;
        color: white;
        transition: 0.15s ease-in-out;
        opacity: 0;
        width: 100%;
        max-width: 100vw;
        pointer-events: none;
        z-index: 5;
        background: #428bca;
    }

    .tooltip-home:hover {
        opacity: 1;
        transform: translate(-50%, -100%) scale(1) rotate(0deg);
        pointer-events: inherit;
    }

    .tooltip-home:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top: 5px solid #428bca;
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translate(-50%, 100%);
    }

    .tooltip-home p {
        color: #fff;
        font-weight: bold;
    }
}
